.container {
  padding: 0;
  margin: 0;
}
.bubbles {
  position: fixed;
  display: flex;
  width: fit-content;
  z-index: 500;
}
.bubbles span {
  position: relative;
  width: 6px;
  height: 6px;
  background-color: #4fc3dc;
  margin: 0 40px;
  border-radius: 50%;
  animation: animate 30s linear infinite;
  animation-duration: calc(500s / var(--i));
}
.bubbles span:nth-child(1) {
  --i: 10;
}
.bubbles span:nth-child(2) {
  --i: 15;
}
.bubbles span:nth-child(3) {
  --i: 40;
}
.bubbles span:nth-child(4) {
  --i: 24;
}
.bubbles span:nth-child(5) {
  --i: 14;
}
.bubbles span:nth-child(6) {
  --i: 23;
}
.bubbles span:nth-child(7) {
  --i: 30;
}
.bubbles span:nth-child(8) {
  --i: 26;
}
.bubbles span:nth-child(9) {
  --i: 19;
}
.bubbles span:nth-child(10) {
  --i: 20;
}
.bubbles span:nth-child(11) {
  --i: 22;
}
.bubbles span:nth-child(12) {
  --i: 25;
}
.bubbles span:nth-child(13) {
  --i: 40;
}
.bubbles span:nth-child(14) {
  --i: 21;
}
.bubbles span:nth-child(15) {
  --i: 15;
}
.bubbles span:nth-child(16) {
  --i: 15;
}
.bubbles span:nth-child(17) {
  --i: 26;
}
.bubbles span:nth-child(18) {
  --i: 17;
}
.bubbles span:nth-child(19) {
  --i: 15;
}
.bubbles span:nth-child(20) {
  --i: 13;
}
.bubbles span:nth-child(21) {
  --i: 26;
}
.bubbles span:nth-child(22) {
  --i: 17;
}
.bubbles span:nth-child(23) {
  --i: 20;
}
.bubbles span:nth-child(24) {
  --i: 11;
}
.bubbles span:nth-child(25) {
  --i: 27;
}
.bubbles span:nth-child(26) {
  --i: 9;
}
.bubbles span:nth-child(27) {
  --i: 25;
}
.bubbles span:nth-child(28) {
  --i: 17;
}
.bubbles span:nth-child(29) {
  --i: 23;
}
.bubbles span:nth-child(30) {
  --i: 17;
}
.bubbles span:nth-child(31) {
  --i: 29;
}
.bubbles span:nth-child(even) {
  background-color: #ff23dc;
  margin: 0 4px;
  border-radius: 50%;
  /* box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff23dc, 0 0 100px #ff23dc; */
}
@keyframes animate {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(-10vh);
  }
}
.slider_video {
  background-image: url(../assets/img7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 80vw;
  margin: auto;
  border-radius: 2em;
}
.slider {
  background-position: 1px center;
  background: linear-gradient(rgba(0, 0, 255, 0.39), rgba(0, 0, 0, 0.473));
  border-radius: 2em;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-family: calibri;
}
.slider h1 {
  font-size: 50px;
  text-transform: capitalize;
  background: linear-gradient(#e85a4f, #c96567, #d83f87);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transform: translateY(1em);
  width: 60%;
  margin: auto;
}
.slider span {
  position: relative;
  top: 8em;
  font-size: 18px;
}
.slider p {
  color: white;
  width: 60%;
  margin: auto;
}

/* slider ends here */

.service_balls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 4em;
  margin: 4em auto 7em;
  padding: 2em;
}
.service_balls .balls {
  background-color: rgb(31, 29, 29);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
  z-index: 200;
}
.service_balls .ball:nth-child(2) {
  transform: translateX(-1em);
}
.service_balls .ball:nth-child(3) {
  transform: translateX(-2em);
}
.balls i {
  font-size: 50px;
  color: #ccc;
  padding: 30px;
  padding-bottom: 10px;
}
.balls p {
  font-family: calibri;
  margin: auto;
  font-size: 18px;
  color: rgb(132, 132, 156);
}
.ball {
  height: 30px;
  width: 80%;
  position: relative;
  top: 11em;
  background-color: rgb(31, 29, 29);
  display: flex;
}
.Gray_bg1 {
  height: fit-content;
  width: 60%;
  padding: 30px;
  background-color: #ccc;
  font-family: calibri;
  margin: auto;
}
.Gray_bg1 h1 {
  text-align: left;
  font-size: 40px;
  color: #07011f;
  width: 70%;
  margin: auto;
}
.Gray_bg1 p {
  font-size: 18px;
  width: 70%;
  color: #281b5f;
  margin: 2em auto 0;
}
#slider_vid {
  background-image: url(../assets//Picture2.png);
  border-radius: 0;
  width: 92%;
  margin: 5em auto 0;
  border-bottom: 10px solid #16102e;
}
#slider {
  background: none;
}
@media screen and (max-width: 1024px) {
  .slider h1 {
    font-size: 40px;
    width: 100%;
  }
  .slider span {
    position: relative;
    top: 5em;
  }
  .slider p {
    width: 85%;
    text-align: left;
    margin: auto;
  }
  .ball {
    transform: rotate(90deg) translateX(10em);
  }
  .Gray_bg1 {
    width: 80%;
  }
  .ball {
    display: none;
  }
  #slider_vid {
    background-size: contain;
    background-color: black;
  }
  .bubbles span {
    margin: 0 10px;
  }
}
